extends layouts/main-layout.pug
block head
    link(rel='stylesheet' type='text/css' href='/css/admin.css')
block content
    div.cont
        h2.pagetitle Welcome Admin
        p.pagetitle Login below to access
        form(action='/admin' method='post')
            p All the fields are required
            br
            label(for='email') Email:
            input.forminput#email(type='text' name='email',placeholder="example@example.com")
            br
            br
            label(for='password') Password:
            input.forminput#password(type='password' name='password',placeholder="Enter your Password")
            input#user(type='submit' value='Submit')
        if text
            p#Error=text